.Pokecard {
    display: inline-block;
    margin: 4px;
    padding: 2.5px;
    width: 8em;
    height: 200px;
    text-align: center;
    font-size: 10px; 
    background-color: lightgray;  
    border-radius: 5%;
  }

.Pokecard-name {
    color: blue;
    font-weight: bold;
}